<form [formGroup]="form" (ngSubmit)="download()">
  <mat-form-field>
    <mat-label>File</mat-label>
    <input matInput formControlName="name" readonly="readonly">
    <mat-error *ngIf="form.get('name').hasError('required')">
      File is <strong>required</strong>
    </mat-error>
  </mat-form-field>&nbsp;
  <button mat-raised-button color="primary" [disabled]="form.invalid || downloading">Download</button>
</form>
<mat-progress-bar mode="indeterminate" *ngIf="downloading"></mat-progress-bar>

<fs-progress-load *ngIf="loadingList" [text]="'Loading file list...'"></fs-progress-load>
<mat-list>
  <mat-list-item *ngFor="let f of files" (click)="clickListFile(f)">
    <mat-icon mat-list-icon>note</mat-icon>
    <div mat-line>{{f}}</div>
    <!--<div mat-line> {{f}} TODO</div>-->
  </mat-list-item>
</mat-list>
